@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");

:root {
  --c-black: #000;
  --c-grey: #131313;
  --c-lightgrey: #9a9a9a;
  --c-white: #fff;
  --c-blue: #009be5;
  --c-bg-opacity: rgba(0, 0, 0, 0.7);
  --c-modal-opacity: rgba(0, 0, 0, 0.9);
  --c-bg-nopacity: rgba(0, 0, 0, 0);

  --opacity: 0.6;

  --primary-fonts: "Noto Serif JP", Arial, sans-serif;
  --secondary-fonts: Verdana;
}
