@keyframes slideDown {
  from {
    background-position-y: 0%;
    filter: blur(6em);
  }
  2% {
    filter: blur(0);
  }
  to {
    background-position-y: 92.5%;
  }
}

@keyframes zoomImage {
  from {
    scale: 1.15;
  }
  to {
    scale: 1;
  }
}

@keyframes fadeIn {
  from,
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  from,
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  75%,
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from,
  50% {
    opacity: 0;
    transform: translateX(+100%);
  }
  75%,
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from,
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  75%,
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
