@use "../partials/mixins" as mx;

.header {
  padding-right: 1em;
  position: fixed;
  top: 1.1em;
  right: 0;
  z-index: 4;
  background: linear-gradient(
    90deg,
    rgba(108, 108, 108, 0) 0%,
    rgba(0, 0, 0, 1) 11%
  );
  animation: fadeInLeft 3.5s ease;
  @include mx.media() {
    height: 100dvh;
    padding-right: 0;
    top: 0;
    overflow-y: auto;
    font-size: 1.417em;
    background-color: var(--c-black);
    animation: none;
  }

  &__nav {
    padding: 0 0.625em 0 9em;
    @include mx.media() {
      padding: 3.875rem 3.0625rem;
      margin: 0;

      &--inactive {
        display: none;
      }
    }
  }
  &__ul {
    @include mx.flex(row, nowrap, flex-end, center);
    gap: 0.25em;
    @include mx.media() {
      flex-direction: column;
      justify-content: center;
      gap: 0;
    }
  }
  &__li {
    @include mx.media() {
      width: 10.0625rem;
    }
  }
  &__a {
    padding: 0.75em 1em;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    white-space: nowrap;
    color: var(--c-white);
    transition: all 200ms ease;
    @include mx.media() {
      padding: 0.85rem 0.125rem;
      border-bottom: 1px dotted var(--c-white);
    }

    &:hover {
      color: var(--c-blue);
    }

    &--active {
      color: var(--c-lightgrey);

      &:hover {
        color: var(--c-lightgrey);
      }
    }
  }
  &__buttons {
  }
}

.buttons {
  &__btn {
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;

    &--close {
      display: none;
      @include mx.media() {
        padding: 0.5rem;
        @include mx.flex(column, nowrap, center, center);
        color: var(--c-white);
      }
    }
    &--open {
      display: none;
      @include mx.media() {
        padding: 1rem;
        @include mx.flex(column, nowrap, space-around, center);
        gap: 0.25rem;
      }
    }
    &--inactive {
      display: none;
    }
  }
  &__close {
    width: 100%;
    height: auto;
  }
  &__open {
    width: 2rem;
    height: 3px;
    background-color: var(--c-white);
    pointer-events: none;
  }
}
