@use "../partials/mixins" as mx;

.news {
  width: 100%;
  height: 12em;
  background-color: var(--c-black);
  @include mx.media() {
    height: auto;
    padding: 2em 0;
  }

  &__container {
    width: 100%;
    height: 100%;
    @include mx.flex(row, nowrap, center, center);
    gap: 2em;
    @include mx.media() {
      flex-direction: column;
      gap: 1em;
    }

    &--item {
      width: auto;
      height: auto;
      gap: 1.5em;
      @include mx.media() {
        width: 100%;
        height: 100%;
        gap: 1em;
      }
    }
  }
  &__a {
    height: 7.5rem;
    width: 22rem;
    padding: 1.25rem 1.5rem;
    @include mx.flex(column, nowrap, flex-start, flex-start);
    gap: 0.5rem;
    font-size: 0.75em;
    background-color: var(--c-white);
    color: var(--c-black);
    transition: all 200ms ease;
    @include mx.media() {
      width: 90%;
    }

    &:hover {
      color: var(--c-blue);
    }

    &--news {
      width: 7.5rem;
      height: 7.5rem;
      padding: 0;
      justify-content: center;
      align-items: center;
      border: 1px solid var(--c-white);
      font-size: 1em;
      text-transform: uppercase;
      background-color: var(--c-black);
      color: var(--c-white);
      @include mx.media() {
        width: 90%;
        height: auto;
        padding: 1.25em;
      }

      &:hover {
        color: var(--c-white);
      }
    }
  }
  &__p {
  }
  &__time {
    width: 100%;
    padding-bottom: 0.5em;
    display: block;
    font-weight: bold;
    border-bottom: 1px solid currentColor;
  }
}
