name: Compile SASS y publish

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Node
        uses: actions/setup-node@v6
      - name: Install Sass
        run: npm install -g sass
      - name: Compile SASS
        run: sass src/scss/index.scss dist/css/index.css
